/* Write your global styles here, in PostCSS syntax */
@import url('css/scrollbars.css');
@import url('css/dialog.css');

@tailwind base;

body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  background: url(img/header-background.svg);
  @apply text-neutral-900;
}

header h1 {
  font-family: arial;
  font-weight: 900;
}


@tailwind components;

@tailwind utilities;
