/* Write your global styles here, in PostCSS syntax */
@import url('css/scrollbars.css');
@import url('css/dialog.css');

@tailwind base;

* {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

header {
  background: url(img/header-background.svg);
}
header h1 {
  font-family: arial;
  font-weight: 900;
}



@tailwind components;

@tailwind utilities;
